
html, body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #001F5B;
}

#app {
  width: 100%;
}

.header {
  width: 100%;

  text-align: right;
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 2px 0;
}

.header .menu {
  margin-right: 20px;
}

.header .link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #001F5B;
  font-weight: 800;
  font-size: 20px;
}

.header .link .bar {
  width: 100%;
  display: inline-block;
  border-bottom: 5px solid #FD652F;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms;
}

.header .link:hover .bar {
  opacity: 1;
  bottom: 5px;
}

.section {
  padding: 100px 20px;
  margin-top: 20px;
  min-height: 100vh;
}


  .section {
    margin: 150px; 
    font-size: 20px;
  }

  .content {
    display: none;
    padding: 10px;
    border: 1px solid #C8DBD7;
    margin-top: 5px;
}


.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}



.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#contactanos {
  text-align: center;
  background-color: #ddd;
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  position: relative; 
  margin-top: auto;
  width: 100%;
  
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-facebook-f, .fa-linkedin, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}
.rounded-social-buttons .social-button.email {
  background: #d06a67;
}

.rounded-social-buttons .social-button.email:hover, .rounded-social-buttons .social-button.email:focus {
  color: #d06a67;
  background: #fefefe;
  border-color: #d06a67;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}


.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
