<footer id="contactanos">
  <h3>Become part of the SHPE-Berea Familia!</h3>
  
  <div class="rounded-social-buttons">
    <a class="social-button email" href="mailto:SHPE_BereaCollege1@outlook.com" target="_blank">
      <i class="fa fa-envelope" title="Email"></i>
    </a>
    <a class="social-button instagram" href="https://www.instagram.com/shpe_berea/" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram" title="Instagram"></i>
    </a>
    <a class="social-button" href="https://berea.campuslabs.com/engage/organization/shpe-berea" target="_blank" rel="noopener noreferrer" style="background: #FD652F;">
      <i class="fas fa-users" title="Berea Engage"></i>
    </a>
  </div>

  <p>Created with ❤️ originally by Belu • Updated by AGB</p>
  <p>If you want to contribute to the website, fork our repo and make a pull request! 
    <a href="https://github.com/SHPEBerea/SHPEBerea.github.io" target="_blank">SHPE-Berea Website Repo</a>
  </p>
</footer>
