<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="images/logos/SHPE_logo_horiz_[berea]_ALL_CMYK.png" alt="SHPE Logo"/>
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="index.html#about">About</a>
        <a class="nav-link" href="index.html#membership">Membership</a>
        <a class="nav-link" href="index.html#team">Team</a>
        <a class="nav-link" href="https://medium.com/@shpe_bereacollege1" target="_blank">Blog</a>
        <a class="nav-link" target="_blank" href="https://give.berea.edu/page/66418/donate/1?&transaction.dirgift=Society%20of%20Hispanic%20Professional%20Engineers%20Berea%20Chapter">Donate</a>
      </div>
    </div>
  </div>
</nav>
